<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/CSS/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="description">
            <img class="portrait" src="./images/batman.jpg">
            <span class="text">Hi, I'm Wiktor. I'm studying Computer Science in Engineering. </br>
                This is one of my first application created with Node.js!.</span>
        </div>
    </div>

    {{>footer}}
</body>
</html>