<!DOCTYPE html>

<html>
<head>
    <title>Help</title>
    <link rel="stylesheet" href="/CSS/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h2>How to use the application:</h2>
        <p>1. Enter the name of a city or an address in the appropriate text field.</p>
        <p>2. Click the "Search" button or press Enter key to initiate the search.</p>

        <h2>Input guidelines:</h2>
        <p>- Enter the name of a city in the format "City, Country" (e.g., "Warsaw, Poland").</p>
        <p>- Enter the name of a city in the format "City" (e.g., "Lublin").</p>
        <p>- You can also input a postal code or a specific location (e.g., "12-345").</p>

        <h2>Search results information:</h2>
        <p>- Upon clicking the "Search" button, the application will display the current weather for the specified location.</p>
        <p>- Weather will be presented in the form of temperature, temperature it feels like, and additional information such as wind speed and humidity.</p>

    </div>

    {{>footer}}
</body>
</html>